body {
  font-family: 'Open Sans', sans-serif;
}
.adminConsultationsPageMain{
  margin: 0;
  padding: 0;
  overflow-y:auto;
  height: 100vh;
}
.adminConsultationsPageTableContainer{
  margin: 0;
  padding: 10px;
}
.adminConsultationsPageMainTableContainer{
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 8in;
}