body {
  font-family: 'Open Sans', sans-serif;
}
.tutorProfilePageButtons{
  width: 3.7in;
  height: 1.3in;
  background-color: #4FC3F7;
  color: black;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.tutorProfilePageButtons:hover{
  opacity: 0.7;
}
.tutorProfileButtonIcon{
  font-size: 5rem;
}
.tutorProfileButtonName{
  align-self: center;
}



.tutorVideoPageHeadersTitle{
  margin: 0px;
  padding: 0px;
}
.tutorVideoPageVideoCardMain{
	overflow-y: scroll;
	overflow-x: hidden;
  height: 6in;
  padding-right: 10px;
  margin-bottom: 10px;
}
.tutorVideoPageVideoCard{
  margin: 5px 5px 10px 5px;
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.4);
  border: none;
  border-radius: 5px;
}
.tutorVideoPageVideoCardContainer{
  padding: 5px;
}
.tutorVideoPageVideoDelEdit{
  text-align: center; 
}
.tutorVideoPageVideoDelEditText{
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.tutorVideoPageVideoDelEditText:hover{
  opacity: 0.5;
}
.tutorVideoPageVideoDetailsContainer{
  margin: 0;
}
.tutorVideoPageVideoThumbnailContainer{
  height:1in;
  background-color:#BDBDBD;
  margin: 0;
  padding: 0;
}
.tutorVideoPageVideoSummaryContainer{
  height:1in;
  margin: 0;
  padding-left: 0;
}
.tutorVideoPageVideoDetailsContainerText{
  padding: 0;
  margin: 0px 0px 0px 5px;
  font-size: 1.2rem;
}

.tutorAddVideoPageVideoInputs, .tutorAddVideoPageVideoInputsLarge, .tutorEditVideoPageVideoInputs, .tutorEditVideoPageVideoInputsLarge{
  width: 100%;
  padding: 12px 20px;
  margin: 0;
  display: inline-block;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px rgb(218, 218, 218);
}
.tutorAddVideoPageVideoInputsLarge, .tutorEditVideoPageVideoInputsLarge{
  height: 1.5in;
  resize: none;
}
.tutorAddVideoPageRequiredTextField, .tutorEditVideoPageRequiredTextField{
  color: #f44336;
}
.tutorAddVideoPageFooterButton, .tutorEditVideoPageFooterButton{
  background-color: #04307A;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 15px 0px;
  margin: 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 40%;
  box-shadow: 1px 1px 5px rgb(218, 218, 218);
}
.tutorAddVideoPageFooterButton:hover, .tutorEditVideoPageFooterButton:hover{
  opacity: 0.7;
}


.tutorDeleteVideoPageAlert{
  display: flex;
  justify-content: center;
  align-items: center;
}
#tutorDeleteVideoPageAlertButtonYes{
  background-color: #388E3C;
}
#tutorDeleteVideoPageAlertButtonYes:hover{
  background-color: #4CAF50;
}
#tutorDeleteVideoPageAlertButtonNo{
  background-color: #D32F2F;
}
#tutorDeleteVideoPageAlertButtonNo:hover{
  background-color: #F44336;
}
.tutorDeleteVideoPageAlertButton{
  color: white;
  height: 40px;
  width: 60%;
  border: none;
  border-radius: 5px;
}