body {
  font-family: 'Open Sans', sans-serif;
}
.tuteeAppointmentPageMain{
  margin: 0;
  padding: 0;
  overflow-y:auto;
  height: 100vh;
}
.tuteeAppointmentPageAllCalendarsContainer{
  margin: 0;
  padding: 1px 5px 5px 5px;
}
.tuteeAppointmentPageMonthlyCalendarContainer{
  margin-top: 5px;
  padding: 5px;
}
.tuteeAppointmentPageMainCalendarContainer{
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 3in;
}
.tuteeAppointmentPageMainCalendarContainerChatButton{
  color: #2196F3;
  border: none;
  cursor: pointer;
}